// Colors
$clr1: #dff0ea;
$clr2: #4682B4;
$clr3: #95adbe;

$clr-white: #fff;

$clr-black1: #ddd;
$clr-black2: #aaa;
$clr-black3: #777;
$clr-black4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;